<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col" >FullName</th>
      <th scope="col" >Maths</th>
      <th scope="col" >Physics</th>
      <th scope="col" >Chemistry</th>
      <th scope="col" >English</th>
      <th scope="col" >Total</th>
      <th scope="col" >Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td scope="row">{{studentData.fullName}}</td>
        <td [style.color] = "getSubjectResult('maths', studentData.mathsMarks) ? 'black' : 'red'">{{studentData.mathsMarks}}</td>
        <td [style.color] = "getSubjectResult('physics', studentData.physicsMarks) ? 'black' : 'red'">{{studentData.physicsMarks}}</td>
        <td [style.color] = "getSubjectResult('chemistry', studentData.chemistryMarks) ? 'black' : 'red'">{{studentData.chemistryMarks}}</td>
        <td [style.color] = "getSubjectResult('english', studentData.englishMarks) ? 'black' : 'red'">{{studentData.englishMarks}}</td>
        <td>{{studentData.totalMark}}</td>
        <td>{{studentData.grade}}</td>
    </tr>
  </tbody>
</table>