<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col" >FullName</th>
      <th scope="col" >Maths</th>
      <th scope="col" >Physics</th>
      <th scope="col" >Chemistry</th>
      <th scope="col" >English</th>
      <th scope="col" >Total</th>
      <th scope="col" >Grade</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of getData()">
    <tr routerLink="/students/{{item.fullName}}">
        <td scope="row">{{item.fullName}}</td>
        <td [style.color] = "getSubjectResult('maths', item.mathsMarks) ? 'black' : 'red'">{{item.mathsMarks}}</td>
        <td [style.color] = "getSubjectResult('physics', item.physicsMarks) ? 'black' : 'red'">{{item.physicsMarks}}</td>
        <td [style.color] = "getSubjectResult('chemistry', item.chemistryMarks) ? 'black' : 'red'">{{item.chemistryMarks}}</td>
        <td [style.color] = "getSubjectResult('english', item.englishMarks) ? 'black' : 'red'">{{item.englishMarks}}</td>
        <td>{{item.totalMark}}</td>
        <td>{{item.grade}}</td>
    </tr>
  </tbody>
</table>